.charts-block {
  text-align: center;
  &__item {
    display: inline-block;
    margin: 10px 20px 0;
    min-height: 300px;
    &_desc {
      color: #00959c;
    }
  }
  .no-data-chart {
    margin-bottom: 150px;
    font-size: 16px;
  }
}